
*{
	margin: 0;
	padding: 0;
}
ul,li,ol{
	list-style: none;
}
a{
	text-decoration: none;
}


/*页首*/
.yeshou{
	margin:0 auto;
	width:1180px;
	height:56px;
}
.yeshou>p{
	width:80px;
	margin-top:12px;
	margin-right:360px;
	font-size: 12px;
	float: left;
	color: #9a9791;
}
.yeshou>img{
	margin-top:7px;
	margin-left:18px;
	margin-left:18px;
	float:left;
}
.yeshou1{
	font-size: 12px;
	color: #9a9791;
	margin-top:10px;
	float:left;
}
.yeshou2{
	margin-top:10px;
	margin-left:18px;
	float:left;
}
.yeshou3{
	font-size:12px;
	color: #9a9791;
	margin-top:10px;
	float:left;
}
.yeshou4{
	margin-left:4px;
	margin-top:10px;
	float:left;
}


/*导航*/
.daohang{
	margin:0 auto;
	width:1180px;
	height: 85px;
}

.daohang>img{
	width:145px;
	height:63px;
	margin-right:105px;
	float:left;
}
.daohang1{
	width:580px;
	height:72px;
	padding-top:5px;
	float:left;
}
.daohang11{
	width:580px;
	height:40px;
	float:left;
	background-color:#fe6c00;	
}
.daohang11>input{
	margin-top:2px;
	margin-left:2px;
	width:495px;
	height:36px;
	border:2px;
	float:left;
}
.daohang111{
	width:80px;
	height:30px;
	margin-top:7px;
	text-align: center;
	font-size:18px;
	float:left;
	color:#ffffff;
}
.daohang12{
	width:580px;
	height:30px;
	float:left;
}
.daohang12>p{
	margin-top:12px;
	margin-left: 7px;
	margin-right: 7px;
	font-size:12px;
	float:left;
}
.daohang12>img{
	width:2px;
	height:17px;
	margin-top:12px;
	float:left;
}


.daohang2{
	width:348px;
	height:40px;
	margin-top:5px;
	float:left;
}
.daohang21{
	width:85px;
	height:40px;
	margin-left: 87px;
	border-style:solid;
	border-width:1px;
	border-color: #e6e5e2;
	float:left;
}
.daohang211{
	width:85px;
	height:25px;
	float:left;
}
.daohang211>img{
	padding-top: 7px;
	padding-left: 30px;
}
.daohang212{
	width:85px;
	height:15px;
	font-size: 12px;
	color:#9ba4bf;
	float:left;
}
.daohang22{
	width:85px;
	height:40px;
	border-style:solid;
	border-width:1px;
	border-color: #e6e5e2;
	float:left;
}
.daohang23{
	width:85px;
	height:40px;
	border-style:solid;
	border-width:1px;
	border-color: #e6e5e2;
	float:left;
	background-color: #ff4d04;
}
.daohang231{
	width:23px;
	height:40px;
	float:left;
}
.daohang231>img{
	margin-left: 7px;
	margin-top:14px;
	float:left;
}
.daohang232{
	margin-top:12px;
	font-size:14px;
	color:#ffffff;
	float:left;
}
/*菜单*/
.CD{
	width: 100%;
	height: 40px;
	background-color: #000000;
}
.cd{
	width: 1180px;
	height: 40px;
	margin: 0 auto;
}
.caidan{
	width: 116px;
	height: 40px;
	background-color: #000000;
	color: #ffffff;
	float: left;
}
.caidan>p{
	text-align: center;
	font-size: 15px;
	margin-top: 10px;
}
.caidana>img{
	float: left;
	margin-left: 64px;
}

/*介绍*/
.js{
	width: 100%;
	height: 36px;
	background-color: #f6f5f4;
}
.jieshao{
	width: 1180px;
	height: 36px;
	margin: 0 auto;
}
.jieshao1{
	width: 1180px;
	height: 36px;
}
.jieshao1>p{
	font-size: 13px;
	float: left;
	margin-top: 10px; 
}

/*内容*/
.nr{
	width: 100%;
	height: 632px;
	background-color: #f6f5f4;
}
.contect{
	width: 1180px;
	height: 632px;
	margin: 0 auto;
}
.contect1{
	width: 450px;
	height: 632px;
	float: left;
	background-color: #ffffff;
}
.contect11{
	width: 410px;
	height: 410px;
	float: left;
	border: 1px solid #d0cdc7;
	margin-top: 20px;
	margin-left: 20px;

}
.contect11>img{
	width: 410px;
	height: 410px;
	float: left;
}
.contect12{
	width: 410px;
	height: 60px;
	float: left;
	margin-top: 24px;
	margin-left: 20px;
}
.contect121{
	height: 60px;
	width: 26px;
	float: left;
}
.contect12t1{
	height: 60px;
	width: 26px;
	float: left;
}
.contect122{
	height: 60px;
	width: 60px;
	float: left;
	border: 1px solid #ff9003;
}
.contect12t2{
	height: 60px;
	width: 60px;
	float: left;
}
.contect123{
	height: 60px;
	width: 60px;
	float: left;
	border: 1px solid #ffffff;
}
.contect12t3{
	height: 60px;
	width: 60px;
	float: left;
}
.contect124{
	height: 60px;
	width: 26px;
	float: left;
	margin-left: 234px;
}
.contect12t4{
	height: 60px;
	width: 26px;
	float: left;
}
.contect2{
	width: 500px;
	height: 632px;
	background-color: #ffffff;
	float: left;
}
.contect21{
	width: 500px;
	height: 20px;
	font-size: 15px;
	float: left;
	margin-top:25px;
	margin-left: 20px;
}
.contect22{
	width: 469px;
	height: 35px;
	font-size: 12px;
	float: left;
	color: #676660;
	margin-top: 15px;
	margin-left: 20px;
}
.five23{
	width: 300px;
	height: 16px;
	float: left;
	margin-top: 35px;
	margin-left: 40px;
}
.contect231{
	font-size: 12px;
	float: left;
}
.contect232{
	font-size: 15px;
	float: left;
	color: #ff0000;
	margin-left: 56px;
}
.contect233{
	font-size: 12px;
	float: left;
	text-decoration: line-through;
	margin-left: 14px;
	margin-top: 2px;
}
.contect24{
	width: 500px;
	height: 101px;
	float: left;
	margin-top: 18px;
}
.contect25{
	width: 500px;
	height: 45px;
	float: left;
	margin-left: 27px;
}
.contect251{
	float: left;
	font-size: 14px;
}
.contect252{
	float: left;
	width: 62px;
	height: 31px;
	margin-left: 28px;
}
.contect252>p{
	font-size: 12px;
	float: left;
	margin-left: 13px;
	margin-top: 8px;
}
.contect252>img{
	margin-top: 19px;
}
.contect253{
	float: left;
	width: 62px;
	height: 31px;
}
.contect253>p{
	font-size: 12px;
	float: left;
	margin-left: 13px;
	margin-top: 8px;
}
.contect253>img{
	margin-top: 18px;
}
.contect26{
	width: 500px;
	height: 30px;
	float: left;
	margin-left: 27px;
}
.contect261{
	width: 30px;
	height: 15px;
	float: left;
}
.contect261>p{
	width: 30px;
	height: 15px;
	font-size: 13px;
	margin-top: 6px;
}
.contect262{
	width: 28px;
	height: 30px;
	float: left;
	border: 1px solid #aca7a2;
	margin-left: 63px;
}
.contect262>p{
	text-align: center;
	margin-top: 4px;
}
.contect263{
	width: 52px;
	height: 30px;
	float: left;
	border: 1px solid #aca7a2;
}
.contect263>p{
	text-align: center;
	margin-top: 4px;
}
.contect264{
	width: 28px;
	height: 30px;
	float: left;
	border: 1px solid #aca7a2;
}
.contect264>p{
	text-align: center;
	margin-top: 4px;
}
.contect265{
	width: 74px;
	height: 12px;
	float: left;
	margin-left: 26px;
	margin-top: 6px;
}
.contect265>p{
	font-size: 13px;
}
.contect27{
	width: 500px;
	height: 47px;
	float: left;
	margin-top: 3px;
}
.contect27>img{
	float: left;
}
.contect28{
	width: 500px;
	height: 20px;
	float: left;
}
.contect281{
	font-size: 13px;
	float: left;
	margin-left: 110px;
}
.contect282{
	font-size: 15px;
	float: left;
	color: #ff9003;
	margin-left: 12px;
}
.contect29{
	width: 500px;
	height: 43px;
	float: left;
	margin-top: 20px;
	margin-left: 27px;
}
.contect291{
	width: 151px;
	height: 43px;
	float: left;
	background-color: #ffffff;
	color: #ff0754;
	border: 2px solid #ff0754;
	font-size: 18px;
	border-radius: 5px;
}
.contect292{
	width: 151px;
	height: 43px;
	float: left;
	background-color: #ff0754;
	color: #ffffff;
	border: 2px solid #ff0754;
	font-size: 18px;
	border-radius: 5px;
	margin-left: 24px;
}
.contect3{
	width: 230px;
	height: 632px;
	float: left;
}
.contect3>img{
	width: 160px;
	float: left;
	margin-left: 20px;
}

/*放大图*/
#img1{
	float:left;
	position:absolute;
}
#slider {
    width: 200px;
    height: 200px;
    background: #9a9791;
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
    cursor: move;
    display: none;
}
#img2 {
	float:left;
    position: absolute;
    left:900px;
    top: 240px;
    display: none;
    width: 400px;
    height: 408px;
    overflow: hidden;
    border:1px solid #d0cdc7;
    background-color: #ffffff;
}
#Aimg {
	float:left;
    width:800px;
    height:816px;
    position: absolute;
    left: 0;
    top: 0;
}


/*加入购物车*/
.jiagou{
	width: 100%;
	height: 1400px;
	position: absolute;
	background-color: #dedcd8;
	z-index: 100;
	opacity: 0.9;
	top: 0px;
	left: 0;
	display: none;
}

.jg{
	width: 400px;
	height: 230px;
	margin: 0 auto;
	background-color: #ffffff;
	opacity: 1;
	position: fixed;
	top: 250px;
	left: 500px;
	z-index: 200;
	display: none;
}

.jg1{
	width: 400px;
	height: 230px;
	float: left;
	opacity: 1;
}
.jg11{
	width: 16px;
	height: 16px;
	float: left;
	margin-left: 375px;
	margin-top: 8px;
}
.jg1>p{
	font-size: 16px;
	float: left;
}

.jg12{
	float: left;
	margin-top: 10px;
	width: 400px;
	height: 92px;
}
.jg12>img{
	float: left;
}
.jg13{
	width: 400px;
	height: 40px;
	float: left;
	margin-left: 32px;
	margin-top: 25px;
}
.jg131{
	width: 151px;
	height: 40px;
	float: left;
}
.jg131>button{
	width: 151px;
	height: 40px;
	float: left;
	font-size: 16px;
	color: #ff0754;
	background-color: #ffffff;
	border: 2px solid #ff0754;
	border-radius: 5px;
}
.jg132{
	width: 153px;
	height: 40px;
	float: left;
	margin-left: 26px;
}
.jg132>button{
	width: 153px;
	height: 40px;
	float: left;
	font-size: 16px;
	color: #ffffff;
	background-color: #ff0754;
	border: 2px solid #ff0754;
	border-radius: 5px;
}

.tjgw0{
	width: 100%;
	height: 1400px;
	position: absolute;
	background-color: #dedcd8;
	z-index: 100;
	opacity: 0.7;
	top: 0px;
	left: 0;
}
.tjgw1{
	width: 400px;
	height: 230px;
	margin: 0 auto;
	background-color: #ffffff;
	opacity: 1;
	position: fixed;
	top: 300px;
	left: 500px;
	z-index: 200;
}



/*正品*/
.zz{
	width: 100%
	height: 109px;
	background-color: #f6f5f4;
}
.zz1{
	width: 1180px;
	height: 109px;
	margin: 0 auto;
}
.zz1>img{
	width: 1180px;
	height: 109px;
	float: left;
}

/*页尾*/
.yw{
	width:100%;
	height:345px;
}
.footer {
	margin:0 auto;
	width:1180px;
    height: 345px;
}

.footer-top {
    height: 185px;
}

.footer-box {
    width: 1031px;
    height: 100%;
    float: left;
    border-bottom: 1px solid #ebeae8;
}

.help-content {
    float: left;
    height: 100%;
}

.help-content ul {
    float: left;
    padding-top: 20px;
    margin-left: 70px;
}

.help-content ul li {
    font-size: 12px;
    color: #666560;
    padding-top: 12px;
}

.help-content .native {
    font-size: 15px;
    color: black;
}

.footer-bottom{
    height: 160px;
}
.footer-bottom ul{
    width: 60%;
    margin: 0 auto;
    padding-top: 15px;
    height: 15px;
}
.footer-bottom ul li{
    float: left;
    color: #9a9791;
    font-size: 12px;
    padding: 0 15px;
    border-right: 1px solid #9a9791;
}
.footer-bottom ul .native{
    border:none;
}
.footer-bottom p{
    text-align: center;
    padding-top: 10px;
    color: #9a9791;
    font-size: 12px;
}


